{% extends 'book_reviews/base.html' %}{% block content %}
<div class="row">
    {% if messages %}
    <ul class="error-messages">
        {% for message in messages %}
        <li class="bg-warning error-msg">
            <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
            {{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
</div>

<div class="row">
    <div class="col-6">
        <form action="/register" method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend>Register</legend>

                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" name="name" class="form-control">
                </div>

                <div class="form-group">
                    <label for="alias">Alias:</label>
                    <input type="text" name="alias" class="form-control">
                </div>

                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" name="email" class="form-control">
                </div>

                <div class="form-group">
                    <label for="email">Password:</label>
                    <input type="password" name="password" class="form-control">
                </div>

                <div class="form-group">
                    <label for="first_name">Confirm Password:</label>
                    <input type="password" name="confirm_password" class="form-control">
                </div>

                <button class="btn btn-success" type="submit">Register</button>
            </fieldset>
        </form>
    </div>


    <div class="col-6">
        <form action="/login" method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend>Sign In:</legend>

                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" name="email" class="form-control">
                </div>

                <div class="form-group">
                    <label for="email">Password:</label>
                    <input type="password" name="password" class="form-control">
                </div>


                <button class="btn btn-success" type="submit">Login</button>
            </fieldset>
        </form>
    </div>
</div>
{% endblock %}