<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Surveys</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'surveys/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'surveys/css/style.css' %}">

    <script src="{% static 'surveys/js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'surveys/js/main.js' %}"></script>
</head>

<body>

    <div class="flex">

        <div class="container">

            <div class="row justify-content-center">
                <div class="col-8 success">
                    <h1 class="success text-success">Success!</h1>
                    <p>Thanks for submitting this form! You have submitted this form {{ count }} time(s) now!</p>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-8 feedback">
                    <div class="row justify-content-center">
                        <div class="col-4">Name:</div>
                        <div class="col-8">{{ name }}</div>
                    </div>

                    <div class="row">
                        <div class="col-4 ">Dojo Location:</div>
                        <div class="col-8 ">{{ dojo }}</div>
                    </div>

                    <div class="row">
                        <div class="col-4 ">Favorite Language:</div>
                        <div class="col-8 ">{{ language }}</div>
                    </div>

                    <div class="row">
                        <div class="col-4">Name:</div>
                        <div class="col-8 ">{{ comment }}</div>
                    </div>

                    <div class="row button-group">
                        <div class="col-12">
                            <a href="/" class="btn btn-primary">Home</a>
                        </div>
                    </div>
                </div>

            </div>


        </div>

    </div>

</body>

</html>