<!doctype html>
<html lang="en-us">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ninja Gold</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
        crossorigin="anonymous">

    <style>
        ul {
            list-style: none;
            padding: 0;
        }

        .location-wrapper {
            box-shadow: 0 8px 6px -6px rgba(0, 0, 0, .35);
            border: 1px solid #eaeaea;
            padding: .75em;
            text-align: center;
        }

        .location-wrapper button {
            margin: 1em 0;
        }

        .activities h3 {
            margin-top: 2em;
        }

        .activities-list {
            width: 100%;
            min-height: 150px;
            border: 1px solid #eaeaea;
            padding: .5em;
        }

        .win {
            color: green;
        }

        .lose {
            color: red;
        }
    </style>

</head>

<body>

    <div class="container">
        <h1>Ninja Gold</h1>

        <div class="row">
            <div class="col-4">
                <div class="form-group row">
                    <label for="gold" class="col-4 col-form-label">Your Gold:</label>
                    <div class="col-8">
                        <input type="text" name="gold" id="gold" value="{{ session }}" class="form-control" readonly>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-3 location">
                <div class="location-wrapper">
                    <h3>Farm</h3>
                    <span>(Earns 10-20 golds)</span>
                    <form action="/process_money" method="post">
                        <input type="hidden" name="place" value="farm">
                        <button type="submit" class="btn btn-warning">Find Gold!</button>
                    </form>
                </div>
            </div>
            <div class="col-3 location">
                <div class="location-wrapper">
                    <h3>Cave</h3>
                    <span>(Earns 5-10 golds)</span>
                    <form action="/process_money" method="post">
                        <input type="hidden" name="place" value="cave">
                        <button type="submit" class="btn btn-warning">Find Gold!</button>
                    </form>
                </div>
            </div>
            <div class="col-3 location">
                <div class="location-wrapper">
                    <h3>House</h3>
                    <span>(Earns 2-5 golds)</span>
                    <form action="/process_money" method="post">
                        <input type="hidden" name="place" value="house">
                        <button type="submit" class="btn btn-warning">Find Gold!</button>
                    </form>
                </div>
            </div>
            <div class="col-3 location">
                <div class="location-wrapper">
                    <h3>Casino</h3>
                    <span>(Earns/Takes 0-50 golds)</span>
                    <form action="/process_money" method="post">
                        <input type="hidden" name="place" value="casino">
                        <button type="submit" class="btn btn-warning">Find Gold!</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="activities">
                    <h3>Activities:</h3>
                    <ul class="activities-list">
                        {% for x in places %} {% if x.win %}
                        <li class="win">Earned {{ x.gold }} golds from the {{ x.place }} - {{ x.time }}!</li>
                        {% else %}
                        <li class="lose">Entered a {{ x.place }} and lost {{ x.gold }} golds... Ouch... - {{ x.time }}!</li>
                        {% endif %} {% endfor %}
                    </ul>
                </div>
            </div>

            <div class="col-2">
                <form action="/reset" method="post">
                    <button type="submit" class="btn btn-primary">Reset</button>
                </form>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
        crossorigin="anonymous"></script>
</body>

</html>