{% extends 'course_app/base.html' %} {% block content %}
<div class="container">

    <a href="/" class="btn btn-secondary home-btn">Home</a>

    <h2 class="">Course comments:</h2>
    <div class="row">
        <div class="col-12">
            <table class="table">
                <tr>
                    <td>Name:</td>
                    <td>{{ course.name }}</td>
                </tr>
                <tr>
                    <td>Description:</td>
                    <td>{{ course.description }}</td>
                </tr>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <form action="/{{ course.id }}/add_comment" method="POST" id="comment-form">
                {% csrf_token %}
                <div class="form-group">
                    <label for="title">Title:</label>
                    <input type="text" name="title" class="form-control">
                </div>

                <div class="form-group">
                    <label for="comment">Comment:</label>
                    <textarea name="comment" id="comment" cols="30" rows="10" class="form-control"></textarea>
                </div>

                <button class="btn btn-primary" type="submit">Add Comment</button>
            </form>
            {% if comments %}{% for comment in comments %}
            <div class="comment">
                <h4>{{ comment.name }}</h4>
                <p>{{ comment.comment }}</p>
                <span class="timestamp">{{ comment.created_at }}</span>
                <a href="/{{ course.id }}/{{ comment.id }}/delete">Delete</a>
            </div>
            {% endfor %}{% endif %}
        </div>
    </div>
</div>
{% endblock %}