 {% extends 'course_app/base.html' %}{% block content %}
<div class="container">
    <h2 class="title">Add a new course</h2>
    <div class="row">
        <div class="col-8">
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li class="bg-warning">
                    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> {{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            <form action="/add_course" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" name="name" id="name" class="form-control">
                </div>
                <div class="form-group">
                    <label for="desc">Description:</label>
                    <textarea name="desc" id="desc" cols="30" rows="10" class="form-control"></textarea>
                </div>
                <button class="btn btn-primary" type="submit">Add</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <table class="table table-striped course-list">
                <thead class="thead-dark">
                    <tr>
                        <th>Course Name</th>
                        <th>Description</th>
                        <th>Date Added</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% if courses %} {% for course in courses %}
                    <tr>
                        <td>{{ course.name }}</td>
                        <td>{{ course.description }}</td>
                        <td>{{ course.created_at }}</td>
                        <td>
                            <a href="/{{ course.id }}/remove">Remove</a> |
                            <a href="/{{ course.id }}/comment">Comment</a>
                        </td>
                    </tr>
                    {% endfor %}{% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}